body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: black;
    background: white;
}

div, span {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#play {
    position: absolute;
    left: 0;
    top: -5000px;

    #play_level {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;

        .item {
            display: inline-block;
        }

        .button {
            &:hover {
                color: white;
                background: black;
            }
        }
    }

    #play_step {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        text-align: right;

        .item {
            display: inline-block;
        }

        .button {
            &:hover {
                color: white;
                background: black;
            }
        }
    }

    #play_button {
        position: absolute;
        left: 0;
        width: 100%;

        .item {
            position: absolute;
            left: 0;
            top: 0;

            &:hover {
                color: white;
                background: black;
            }
        }

        #reset {
            left: auto;
            right: 0;
        }
    }

    #canvas {
        position: absolute;
        left: 0;
        top: 0;
    }
}

#layout_message_win {
    position: absolute;
    left: 0;
    top: -5000px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.25);

    #message_win_box {
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.95);
        text-align: center;

        .title { text-align: center; }

        .button:hover {
            display: inline-block;
            color: white;
            background: black;
        }
    }
}

#layout_level_select {
    position: absolute;
    left: 0;
    top: -5000px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.25);

    #level_select_box {
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.95);
        text-align: center;
    }

    #level_select_number {
        text-align: center;
    }

    #level_select_button {
        text-align: center;

        .button {
            display: inline-block;

            &:hover {
                color: white;
                background: black;
            }
        }
    }

    #level_select_input {
        position: relative;

        .button {
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;

            &:hover {
                color: white;
                background: black;
            }
        }

        #level_select_plus {
            left: auto;
            right: 0;
        }

        #level_select_line {
            position: absolute;
            left: 0;
            top: 0;
    
            #level_select_fon {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                background: #888888;
            }
    
            #level_select_item {
                position: absolute;
                left: 0;
                top: 0;
                background: black;
            }
        }
    }
}
